Repository retailmediatools/rmt-sdk-ts, changes with the labels that .github/labeler.yml gives for each.
All labels: gh-actions, documentation

fix(deps): update npm group
  yarn.lock
Labels: none

chore(deps): update npm-devdependencies group
  package.json
  yarn.lock
Labels: none

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v3.4.0
  .pre-commit-config.yaml
Labels: none

chore(deps): update yarn to v3.5.1
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-3.5.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4
  .pre-commit-config.yaml
Labels: none

Publish the repo
  .github/settings.yml
Labels: gh-actions

Update API clients
  packages/rmt-ad-service/src/.npmignore
  packages/rmt-ad-service/src/.openapi-generator/VERSION
  packages/rmt-ad-service/src/api.ts
  packages/rmt-ad-service/src/base.ts
  packages/rmt-ad-service/src/common.ts
  packages/rmt-ad-service/src/configuration.ts
  packages/rmt-ad-service/src/index.ts
  packages/rmt-product-import/src/lib/auth.ts
  packages/rmt-product-import/src/lib/import.ts
  packages/rmt-product-service/src/.npmignore
  packages/rmt-product-service/src/.openapi-generator/VERSION
  packages/rmt-product-service/src/api.ts
  packages/rmt-product-service/src/base.ts
  packages/rmt-product-service/src/common.ts
  packages/rmt-product-service/src/configuration.ts
  packages/rmt-product-service/src/index.ts
  packages/rmt-tracking-service/src/.npmignore
  packages/rmt-tracking-service/src/.openapi-generator/VERSION
  packages/rmt-tracking-service/src/api.ts
  packages/rmt-tracking-service/src/base.ts
  packages/rmt-tracking-service/src/common.ts
  packages/rmt-tracking-service/src/configuration.ts
  packages/rmt-tracking-service/src/index.ts
Labels: none

Move NX to another npm package path
  .eslintrc.json
  jest.config.ts
  jest.preset.js
  package.json
  packages/commercetools-product-import/.babelrc
  packages/commercetools-product-import/project.json
  packages/examples/project.json
  packages/rmt-ad-service/.babelrc
  packages/rmt-product-import/.babelrc
  packages/rmt-product-import/project.json
  packages/rmt-product-service/.babelrc
  packages/rmt-tracking-service/.babelrc
  yarn.lock
Labels: none

Upgrade deps
  package.json
  packages/demo-shop/package.json
  yarn.lock
Labels: none

Run prettier
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/renovate.json5
  .github/settings.yml
  .github/workflows/reusable-ci-workflow.yaml
  .yarnrc.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  packages/commercetools-product-import/src/lib/fetch.ts
  packages/commercetools-product-import/src/lib/transformer.spec.ts
  packages/demo-shop/app/entry.server.tsx
  packages/demo-shop/app/models/ad.server.ts
  packages/demo-shop/app/models/product.server.ts
  packages/demo-shop/app/models/tracking.server.ts
  packages/demo-shop/app/routes/index.tsx
  packages/examples/src/main.ts
  packages/examples/src/product-import/commercetool.ts
  packages/examples/src/product-service/products.ts
  packages/rmt-product-import/src/lib/fetch.ts
  packages/rmt-product-import/src/lib/import.ts
  packages/rmt-product-import/src/lib/transform.spec.ts
  packages/rmt-product-import/src/lib/transform.ts
  tsconfig.base.json
Labels: gh-actions, documentation

Update package.json
  package.json
Labels: none

update deps
  package.json
  yarn.lock
Labels: none

update deps
  packages/demo-shop/app/styles/app.css
  packages/demo-shop/package.json
Labels: none

Update .gitignore
  .gitignore
Labels: none

clean up project configs
  .gitignore
  .prettierignore
  nx.json
  packages/commercetools-product-import/project.json
  packages/demo-shop/project.json
  packages/examples/project.json
  packages/rmt-product-import/project.json
Labels: none

Update yarn-3.2.3.cjs
  .yarn/releases/yarn-3.2.3.cjs
Labels: none

update yarn
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
Labels: none

[chore] yarn install
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  yarn.lock
Labels: none

Update api.ts
  packages/examples/src/product-service/catalogs.ts
  packages/rmt-product-service/src/api.ts
Labels: none

add batch import service
  packages/examples/src/product-service/imports.ts
Labels: none

move out the example in a separate function
  packages/examples/src/main.ts
Labels: none

add batch import example
  packages/examples/src/main.ts
Labels: none

Update .eslintrc.json
  .eslintrc.json
Labels: none

Update reusable-ci-workflow.yaml
  .github/workflows/reusable-ci-workflow.yaml
Labels: gh-actions

.github/labeler.yml:

# https://github.com/actions/labeler

# Some common example labels, need to be edited in each project

# Add 'gh-actions' label
gh-actions:
  - .github/*
  - .github/**/*

# Add 'documentation' label
documentation:
  - '*.md'
